<!DOCTYPE html>
<html>
<body>
<h1></h1>


  <form method="POST" action="/landmarks">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Landmark:</label>
      <input type="text" name="landmark[name]" id="name"></input>
      <input type="text" name="landmark[year_completed]" id="year_completed"></input>

    <input type="submit" value="Edit Landmark">
</form>
</body
</html>
