<!DOCTYPE html>
<html>
<body>
<h1></h1>


  <form method="POST" action="/figures">
    <label>Landmark:</label>
      <input type="text" name="landmark[name]" id="landmark_name"></input>
      <input type="text" name="landmark[year_completed]" id="year_completed"></input>

    <input type="submit" value="Create New Figure">
</form>
</body
</html>
